.progress-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.progress-bar {
  background-color: #ccc;
  height: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.progress-bar.active {
  background-color: #6c5ce7; /* purple color */
}

.circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #6c5ce7; /* purple color */
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin: 0 10px;
}

.progress-bar.active.circle {
  background-color: #fff; /* white color */
  color: #6c5ce7; /* purple color */
}